.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
}

.home-img {
  height: 19rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.home-intro {
  max-width: 35rem;
  text-align: center;
  margin: 1.5rem 0;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--secondary-color);
}
.modal {
  position: absolute;
  background: url(/src/assets/caramb.png?t=1761597696453) no-repeat center /
    cover;
  background-size: 79%;
  top: 0rem;
  width: 35rem;
  height: 37rem;
  transform: translate(-50%, 0);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-150%);
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.joke-display {
  height: 4rem;
  width: 16rem;
  color: #492e0d;
  transform: rotate(-12deg);
}

.modal-close {
  position: absolute;
  top: 4rem;
  right: -4rem;
  background: transparent;
  border: 1px var(--secondary-color) solid;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .home-button {
  position: relative;
  top: 1rem;
  margin-top: 10px;
  padding: 5px 10px;
  margin: 20px;
  background: transparent;
  border: 1px #f6d171 solid;
  border-radius: 30px;
  color: #f6d171;
  width: 200px;
  height: 30px;
  cursor: pointer;
} */

.modal-close:hover {
  background: var(--text-third);
  color: var(--text-light);
  scale: 1.1;
}

@media (max-width: 768px) {
  .home-img {
    height: 16rem;
  }

  .home-intro {
    max-width: 90%;
    font-size: 1rem;
  }

  .modal {
    background-size: 71%;
    height: 36rem;
  }

  .joke-display {
    padding-top: 1rem;
    padding-left: 1rem;
    height: 6rem;
    width: 16rem;
  }
  .modal-close {
    position: absolute;
    top: 4rem;
    right: -3rem;
  }
}
